.tabContainer {
    width: 50%;
   height: 400px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.tabHero {
    width:100%;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#ffffff;
}

.tabTitle {
height: 13%;
display: flex;
justify-content: space-around;
}

.tabButton { 
    flex-grow: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .tabContainer {
        width: 100%;
        margin-top: 0;
    }
}
